body {
    font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", Verdana, Arial, Helvetica, sans-serif;
}



.navbar .img-responsive {
    display: inline-block;
    height: 37.5px;
    min-height: 35.5px;
    min-width: 120px;

}

.navbar .nav-item:hover {
    cursor: pointer;
}

.carousel {
    height: calc(100vh - 63.5px);
    margin-top: 0px;
    border: 1px dotted #111;
}

.carousel-img {

    height: calc(100vh - 63.5px);
    object-fit: cover;
    cursor: pointer;
}

.main-card {
    padding: 0 2em;
}

.card:hover {
    cursor: pointer;
    border-radius: 0.45rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
}

@media only screen and (min-width: 768px) {
    .main-card {
        margin-top: 1.75em;
        margin-bottom: 1.75em;

    }
}

@media only screen and (max-width: 767px) {
    .main-card {
        margin-top: 1.75em;
        margin-bottom: 1.75em;
        padding: 0 0em;
    }


}