
.contact-breadcrumb {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-breadcrumb .contact-content {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.contact-breadcrumb .contact-content div {
  display: flex;
  justify-content: flex-end;
  color: #4C5152;
  font-size: 14px;
  padding: 10px;
}

.contact-page-main {
  width: 100%;
  display: flex;
  justify-content: center;
  /* color: #212529; */
}

.contact-page-main .contact-page-container {
  width: 61.8%;
}

.contact-page-txt {
  color: #4C5152;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 40px;
  text-align: center !important;
}

.contact-page-txt .notice {
  color: #ec4c4c;
}

.contact-page-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.contact-page-form .main-form{
  width: 80%;
}