.education-container {
  width: 100%;
}

.education-page-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.company-education {
  width: 100vw;

}

.education-page-top {
  width: 100%;
  height: 61.8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 80px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.education-page-top-mobile {
  display: none;
}

.education-top-img {
  width: 61.8vw;
  height: 61.8vh;
  max-height: 450px;
  min-height: 300px;
  position: absolute;
  left: 160px;
  background-position: center center;
  background-size: cover;
  border-radius: 0.15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-top-content {
  position: absolute;
  left: 50vw;
  width: 40vw;
}

.top-content-inner {
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 0.15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.education-top-content .top-content-inner h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 28px;
}

.education-top-content .top-content-inner h4 {
  margin-bottom: 0.6rem;
  font-size: 16px;
}

.education-top-content .top-content-inner>ul {
  margin: 0;
  padding-left: 20px;
}

.education-top-content .top-content-inner>ul>li {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 14px;
}

.education-main-content {
  padding: 0 140px;
  /* height: 1080px; */
}

.main-content-inner {}

.education-main-content .education-container {
  display: flex;
  flex-wrap: wrap;
}

.education-container .education-item {
  width: 50%;
  padding: 20px;
  /* flex-wrap: wrap; */
  /* flex-grow: 1; */
  /* display: flex; */

}

.education-item .education-item-header {
  border-radius: 0.125rem;
  /* border: 1px dotted #333; */
}

.education-item .item-header-img {
  left: 0;
  width: 85%;
  height: 200px;
  max-height: 240px;
  background-size: cover;
  background-position: center center;
}

.education-item-body {
  /* z-index: 5; */
  position: relative;
  top: -80px;
  left: 80px;
  width: calc(100% - 80px);
  /* height: 300px; */

  background-color: #fff;
  padding: 20px 40px;
  border-radius: 0.15rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

.education-item-body .item-body-title h2 {
  margin-bottom: 1.6rem;
}

.education-item-body .item-body-title svg {
  max-width: 90px;
  height: 10px !important;
  position: absolute;
  top: 56px;
}

.education-item-body p {
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.education-teach {
  width: 1080px;
  margin: 0px auto 60px;
  
}

.education-teach-inner {
  width: 100%;
  
}

.education-teach-header h2 {
  padding: 0 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.753);
  margin-bottom: 1.2rem;
}

.education-teach-body {
  display: flex;
  background-color: rgba(204, 204, 204, 0.637);
  padding: 10px;
  border-radius: 0.15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-teach-body .teach-body-info {
  width: 440px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.teach-body-info {
  /* padding: 20px; */
  display: flex;
}

.body-info-avater {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.body-info-avater img {
  background-position: center center;
  background-size: cover;
  width: 160px;
  min-width: 160px;
  height: 200px;
}

.body-info-centent h2 {
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  margin: 0;
}

.body-info-centent p {
  font-size: 14px;
  padding: 10px 10px;
  margin: 0;
}

.education-teach-body .teach-body-scheduel {
  height: 200px;
  background-color: #fff;
  flex: 1;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  /* min-width: 700px; */
}

.teach-body-scheduel .scheduel-row {
  display: flex;
}

.scheduel-row>span {
  padding: 9px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduel-row>span:nth-child(1) {
  width: 140px;
}

.scheduel-row>span:nth-child(2) {
  width: 80px;
}

.scheduel-row>span:nth-child(3) {
  flex: 1;
}

.scheduel-row>span:nth-child(4) {
  width: 80px;
}

.scheduel-row>span:nth-child(5) {
  width: 140px;
}