@media screen and (min-width:760px) {
  .basic-card {
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s 0s ease-out;
    -moz-transition: all .5s 0s ease-out;
    transition: all .5s 0s ease-out;
  }

  .basic-card:hover {
    box-shadow: 0 0 22.5px rgba(0, 0, 0, 0.5);
  }

  .basic-card a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s 0s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .3s 0s cubic-bezier(.165, .84, .44, 1);
    transition: all .3s 0s cubic-bezier(.165, .84, .44, 1);
    text-decoration: none;
    color: #333;
  }

  .basic-card .img {
    margin: 0;
    line-height: 0;
    overflow: hidden;
    background-size: cover;
  }

  .basic-card .img img {
    width: 100%;
    height: auto;
  }

  .basic-card .detail_area {
    padding: 4% 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .basic-card .detail_area .title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .basic-card>a>p>img {
    transform: scale(1);
    transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .basic-card:hover>a>p>img {
    transform: scale(1.1);
    transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .basic-card>a>div>h5 {
    font-size: 18px;
    color: #333;
  }

  .basic-card:hover>a>div {
    background-color: #264989;
    color: #fff;
  }

  .basic-card:hover>a>div>h5 {
    color: #fff;
  }

  .detail_area>span {
    color: #333;
    transition: all 0s;
  }

  .basic-card:hover>a>div>span {
    color: #fff;
    transition: all 0s;
  }
}

@media screen and (max-width:760px) {
  .basic-card .img {
    margin: 0;
    line-height: 0;
    overflow: hidden;
    background-size: cover;
  }

  .basic-card .img img {
    width: 100%;
    height: auto;
  }

  .basic-card .detail_area {
    text-align: center;
    padding: 2.5px 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .basic-card .detail_area .title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .basic-card>a>div>h5 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #333;
  }

  .detail_area>span {
    color: #333;
    transition: all 0s;margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}