@media screen and (min-width:1200px) {
  .main-content{
    opacity: 1
  }
  .left-fold,
  .second-menu,
  .second-menu-nav {
    display: none;
  }
}

@media screen and (max-width:1200px) {
  .left-fold {
    width: 25px;
    display: flex;
  }

  .img-btn {
    width: 800%;
    font-size: 30px;
    height: auto;
    cursor: pointer;
  }

  .second-menu {
    width: 100%;
    height:calc(100vh - 80px);
    background-color: #fff;
    position: fixed;
    top: 80px;
    z-index: 9;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .second-menu-item {
    margin: 22.5px;
    margin-top: 30px;
    cursor: pointer;
  }

  .expand>ul {
    width: 100%;
    font-weight: normal;
    padding: 10px 1rem 10px 1rem;
    background-color: #fff;
    z-index: 2;
  }

  .expand>ul>li {
    width: 100%;
    font-size: 12px;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .expand>ul>li>a {
    display: block;
    width: 100%;
    color: #333;
    margin: 0;
    padding: 0.6rem 0 0.6rem 0;
  }

  .expand>ul>li>a>svg {
    font-weight: 200;
    margin-right: 8px;
  }

  .expand>ul>li>a:before {
    content: "ï¼";
    font-weight: bold;
  }

  .expand>span>svg{
    float: right;
  }

  .second-menu-nav {
    width: 100%;
    height: 20%;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }

  .search-click{
    display: none;
  }

  .lan{
    display: none;
  }

  .nav-lan .lan-select {
    width: 100%;
    list-style: none;
    font-weight: normal;
    padding: 20px;
    background-color: #fff;
    align-items: center;
  }

  .nav-lan .lan-select>li {
    width: 33.3%;
    text-align: center;
    float: left;
    border-right: 1px solid #333;
  }

  .nav-lan .lan-select>li:last-child {
    border-right: 0px solid #333;
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
  }

  .search-input {
    width: 100%;
    height: 75px;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
  }

  .search-input input {
    width: 100%;
    height: 45px;
    float: left;
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 6px;
  }

  .search-input button {
    display: none;
  }

  .menu-item>ul {
    width: 100%;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .menu-item>ul>li>a>i {
    color: rgba(51, 51, 51, 0.685);
    padding-right: 8px;
    font-size: 13px;
  }
}