.g-navbar {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);
  padding: 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.995;
  display: flex;
  justify-content: center;
  background-color: #fff;
  /* transition: all .9s 0s cubic-bezier(.165, .84, .44, 1); */
}

.caps {
  /* 大写字母 */
  text-transform: uppercase;
}

@media screen and (min-width:1200px) {

  /* 页面大于1200px */
  .g-nav {
    display: flex;
    width: 95%;
    height: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
  }

  .g-nav .img-responsive {
    width: 32.5px;
    height: auto;
  }

  .logo-font {
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
    line-height: 40px;
  }

  .nav-menu,
  .nav-logo .nav-right {
    padding: 0;
  }

  .nav-logo {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-logo .img-responsive {
    width: 32px;
    height: auto;
    margin: 0;
  }

  .nav-menu {
    width: 85%;
    display: flex;
    justify-content: flex-end;

  }

  .nav-right {
    /* width: 15%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .navbar-center {
    /* width: 100%; */
    font-weight: 400;
    padding: 0;
    font-size: 17px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
  }

  .navbar-center .menu-item {
    margin-left: 17.5px;
    margin-right: 17.5px;
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }


  .menu-item:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  .navbar-center .menu-item .item-txt {
    position: relative;
  }

  .navbar-center .menu-item .item-txt:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #111;
    opacity: 0;
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  .navbar-center .menu-item:active span:before,
  .navbar-center .menu-item:focus span:before,
  .navbar-center .menu-item:hover span:before {
    opacity: 1;
    height: 2px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .menu-item>ul {
    width: 100%;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all .6s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .menu-item>ul>li>a>i {
    color: rgba(51, 51, 51, 0.685);
    padding-right: 8px;
    font-size: 13px;
  }

  .expand>ul {
    width: 80%;
    display: none;
    font-weight: normal;
    padding: 10px 2rem 10px 2rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    position: relative;
    opacity: 1;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
    z-index: 2;
  }

  .expand>ul>li {
    width: 50%;
    float: left;
    display: block;
    font-size: 14px;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
    text-align: left;
  }

  .expand:hover>ul {
    opacity: 1;
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand>ul>li:hover {
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand>ul>li>a {
    display: block;
    width: 100%;
    color: #333;
    transition: all .25s cubic-bezier(.165, .84, .44, 1);
    font-size: .85rem;
    font-weight: 400;
    position: relative;
    background-color: transparent;
    color: #333;
    margin: 0;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }

  .expand>ul>li>a:before {
    content: "／";
    position: absolute;
    left: 5px;
  }

  .expand>ul>li>a:active,
  .expand>ul>li>a:focus,
  .expand>ul>li>a:hover {
    text-decoration: none;
    padding-left: 32.5px;
    font-weight: 600;
  }

  .expand>ul>li>a>svg {
    font-weight: 200;
    margin-right: 10px;
  }

  .expand>ul>li:hover>a {
    /* color: #fff; */
    text-decoration: none;
  }

  .expand>ul>li:hover>a>svg {
    /* color: #fff; */
    text-decoration: none;
  }

  .nav-lan {
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-lan:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .nav-lan .lan-txt {
    margin-right: 2.5px;
    -webkit-transition: all .4s cubic-bezier(.165, .84, .44, 1);
    transition: all .4s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    -webkit-transition-property: color;
    transition-property: color;
  }

  .nav-lan>.lan-txt span {
    position: relative;
  }

  .nav-lan>.lan-txt span:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #111;
    opacity: 0;
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  .nav-lan:active span:before,
  .nav-lan:focus span:before,
  .nav-lan:hover span:before {
    opacity: 1;
    height: 2px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .nav-lan .lan-select {
    display: none;
    list-style: none;
    font-weight: normal;
    padding: 10px 1rem 10px 1rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    opacity: 1;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
    margin: 0;
  }

  .nav-lan .lan-select>li {
    padding: 2.5px;
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    color: #333;
  }

  .nav-lan:hover>.lan-select {
    display: block;
    position: absolute;
    top: 80px;
    left: -15px;
    z-index: 2;
  }

  .nav-lan .lan-select>li>a:hover {
    color: #333;
    text-decoration: underline;
  }

  .nav-search:hover {
    cursor: pointer;
    opacity: 0.75;
    color: #264989;
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
  }

  .nav-search {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

  }

  .nav-search .search-click {
    user-select: none;
  }

  .nav-search .search-click .search-on {
    width: 18px;
    height: 18px;
    display: block;
    opacity: 1;
  }

  .nav-search .search-click .search-off {
    width: 18px;
    height: 18px;
    display: none;
    opacity: 1;
  }

  .search-input {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    display: none;

  }

  .search-input input {
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 5px;
  }

  .search-input button {
    color: #264989;
    margin-left: 8px;
    padding: 6px;
    padding: 7px 1rem 7px 1rem;
    border: 2px solid #264989c7;
    border-radius: 0.45rem;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  .search-input button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #264989;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  .nav-pad {
    /* pad模式下的语言切换消失 */
    display: none;
  }

  /* 页面大于1200px */
}


@media screen and (max-width:1200px) {

  /* 页面小于1200px */
  .g-nav {
    display: flex;
    width: 95%;
    height: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
  }

  .g-nav .img-responsive {
    width: 32.5px;
    height: auto;
  }

  .logo-font {
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
  }

  .nav-menu,
  .nav-logo .nav-right {
    padding: 0;
  }

  .nav-logo {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 3px 0;
  }

  .nav-logo .img-responsive {
    width: 32px;
    height: auto;
    margin: 0;
  }

  .nav-menu {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .navbar-center {
    font-weight: 600;
    padding: 0;
    font-size: 18px;
    flex-wrap: nowrap;
  }

  .nav-lan .lan-select {
    width: 100%;
    list-style: none;
    font-weight: normal;
    padding: 20px;
    background-color: #fff;
    align-items: center;
  }

  .nav-lan .lan-select>li {
    width: 33.3%;
    text-align: center;
    float: left;
    border-right: 1px solid #333;
  }

  .nav-lan .lan-select>li:last-child {
    border-right: 0px solid #333;
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
  }

  .search-input {
    width: 100%;
    height: 75px;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
  }

  .search-input input {
    width: 100%;
    height: 45px;
    float: left;
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 6px;
  }

  .search-input button {
    display: none;
  }

  .menu-item>ul {
    width: 100%;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .menu-item>ul>li>a>i {
    color: rgba(51, 51, 51, 0.685);
    padding-right: 8px;
    font-size: 13px;
  }

  .nav-pad {
    /* pad模式下的语言切换消失 */
    display: none;
  }
}